extends layouts/layout

block content
  +menu(Config.menus)
  .container-fluid
    h1.hidden-sm.hidden-xs
      span #{title}
    h4.visible-sm-block.visible-xs-block
      span #{title}

    if (list && list.length > 0)             
      hr.hidden-xs.hidden-sm
      .row.hidden-xs.hidden-sm
          each n in ['message']
            .col-md-5 #{n}
          each n in ['status','likes', 'reports', 'comments', 'reposts', 'createdAt']
            .sort-th.col-md-1
                span #{n}
                span.page-sort
                  a(href='/?sortby=+#{n}'): i.glyphicon.glyphicon-chevron-up
                  a(href='/?sortby=-#{n}'): i.glyphicon.glyphicon-chevron-down  
          .col-md-1  
      each item in list
        hr
        .row
            .col-md-5
              if (item.user)
                .media
                  .media-left
                    a 
                      img.media-object(src="#{item.user.headimgurl}")
                  .media-body
                    h4.media-heading #{item.user.name}
                    p !{item.message}
                    if (item.parent) 
                      p 
                        span 回复 !{item.parent.message}
                        if (item.parent.user) 
                          span -- #{item.parent.user.name}
                    if (item.thread) 
                      p 来自 #{item.thread.title} 的评论
              else 
                p !{item.message}
                if (item.parent) 
                  p 
                    span 回复 !{item.parent.message}
                    if (item.parent.user) 
                      span -- #{item.parent.user.name}
                if (item.thread) 
                  p 来自 #{item.thread.title} 的评论
            each n in ['item.status','item.likes','item.reports','item.comments','item.reposts','item.createdAtFormat']    
              - name = n.split('.')[1].replace('Format','');
              .col-md-1 
                span.visible-xs-inline.visible-sm-inline name
                span  #{eval(n)}  
            .col-md-1 
              a.js_del_btn(data-url="/comments/#{item.id}") Remove
      +pagination(current_page, pages, all_count, '/?sortby=' + sortby + '&page=')
    else
      h2.not-data not data 
   