extends layouts/layout

block content
  +menu(Config.menus)
  .container-fluid
    h1.hidden-sm.hidden-xs
      span #{title}
    h4.visible-sm-block.visible-xs-block
      span #{title}

    hr
    if (list && list.length > 0)             
      hr.hidden-xs.hidden-sm
      .row.hidden-xs.hidden-sm
          each n in ['message']
            .col-md-5 #{n}
          each n in ['ip','userId','createdAt']
            .sort-th.col-md-2
                span #{n}
                span.page-sort
                  a(href='/?sortby=`+#{n}`'): i.glyphicon.glyphicon-chevron-up
                  a(href='/?sortby=`-#{n}`'): i.glyphicon.glyphicon-chevron-down  
          .col-md-1  
      each item in list
        hr
        .row
            .col-md-5
              p !{item.message}
            each n in ['item.status','item.likes','item.reports','item.comments','item.reposts','item.createAtFormat']    
              - name = n.split('.')[1].replace('Format','');
              .col-md-1 
                span.visible-xs-inline.visible-sm-inline Created At
                span  #{item.createdAtFormat}  
            .col-md-1 
              a.js_del_btn(data-url="/reports/#{item._id}") Remove
      +pagination(current_page, pages, all_count, '/positions?kw=' + (kw || '') + '&sortby=' + sortby + '&areaId=' + areaId + '&postId=' + postId + '&seniorityId=' + seniorityId + '&page=')
    else
      h2.not-data not data 
   